<div class="my-container mx-auto border">
  <div class="row g-1">
    <div class="col-6 p-5">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="../../assets/Images/mobiles/10/{{ imageIndex }}.jpg"
          alt=""
          class="w-60"
        />
      </div>

      <div
        class="image-thumbnails mt-4 d-flex justify-content-between align-items-center"
      >
        <img
          src="../../assets/Images/mobiles/10/1.jpg"
          alt="Thumbnail Image"
          (click)="imageIndex = 1"
        />
        <img
          src="../../assets/Images/mobiles/10/2.jpg"
          alt="Thumbnail Image"
          (click)="imageIndex = 2"
        />
        <img
          src="../../assets/Images/mobiles/10/3.jpg"
          alt="Thumbnail Image"
          (click)="imageIndex = 3"
        />
        <img
          src="../../assets/Images/mobiles/10/4.jpg"
          alt="Thumbnail Image"
          (click)="imageIndex = 4"
        />
        <img
          src="../../assets/Images/mobiles/10/4.jpg"
          alt="Thumbnail Image"
          (click)="imageIndex = 5"
        />
      </div>
    </div>
    <div class="col-5">
      <div class="card">
        <div class="card-header">
          <h2>Sam Sung Galaxy</h2>
        </div>

        <div class="card-body">
          <h1 class="card-title text-success">
            Final Price
            <span class="text-primay">-20%</span>
          </h1>
          <h4 class="card-subtitle text-danger text-decoration-line-through">
            Original Price
          </h4>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle my-2 text-primary">
            11 Produts are available
          </h6>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-success">
              Add to card
            </button>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-text">Description</h5>
          <ul class="list-group">
            <li
              class="list-group-item list-group-item-action"
              *ngFor="let item of [1, 1, 1, 1]"
            >
              {{ item }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-0">
    <div class="col-12 pt-2 ps-5 mb-2">
      <h3
        class="border border-secondary text-center w-25 py-2 my-rounded-corner"
      >
        Related Products
      </h3>
    </div>
    <div class="col-12">
      <app-suggested-product></app-suggested-product>
    </div>
  </div>
  <div class="row g-0 my-3"></div>
</div>
