<header
  class="bg-dark w-100 h-100 bg-dark px-4 my-shadow d-flex justify-content-between align-items-center"
>
  <div class="text-light fs-2 fw-bold fst-italic">
    <span class="">Shopping coint</span>
  </div>

  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group btn-group-lg-me me-3" role="group">
      <button type="button" class="btn btn-outline-light" routerLink="/home">
        Home
      </button>
      <button type="button" class="btn btn-outline-light" routerLink="/order">
        Order 
      </button>
      <div class="btn-group" role="group">
        <button
          type="button"
          class="btn btn-outline-light dropdown-toggle"
          data-bs-toggle="dropdown"
        >
          Categories
        </button>
        <ul class="dropdown-menu fs-5">
          <ng-container *ngFor="let item of navigationList">
            <li class="text-center fw-bold">{{ item.category }}</li>
            <li
              *ngFor="let subcategory of item.subcategories"
              [style.cursor]="'pointer'"
            >
              <a class="dropdown-item">{{ subcategory }}</a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
    <div class="btn-group me-2" role="group">
      <button type="button" class="btn btn-outline-light" routerLink="/cart">
        Cart
        <!-- <span class="badge bg-warning text-dark">{{cartItems}}</span> -->
      </button>
      <button type="button" class="btn btn-outline-light" routerLink="/login">
        Login
      </button>
      <button type="button" class="btn btn-outline-light" (click)="logout()">
        Logout
      </button>
    </div>
  </div>
</header>
